* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #4e4e4e;
    font-display: fallback;
}

.container {
    display: flex;
    flex-direction: column;
}

.top-content {
    background-color: #ffff;
    height: 8vh;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
   
}

.left-content {
    display: flex;
    align-items: center;

}


.left-content img {
    width: 80px;
    background-color: black;
    margin-left: 1.5rem;
  
  
}

.left-content span {
    font-weight: 400;
    margin-left: 1rem;
    font-size: 1rem;
}

.right-content span {
    font-weight: 400;
    margin-right: 1.5rem;
    font-size: 1rem;
}


.bottom-content {
    display: grid;
    height: 92vh;

    grid-template-columns: 2fr 1fr;

}

.first-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #ebebeb;
    padding: 3rem;

}

.second-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background-image: linear-gradient(to top, rgba(255, 145, 0, 0.8), rgba(255, 217, 0, 0.924));
    padding: 3rem;


}

.first-column > h4 {
    text-align: center;
    font-size: 1.2rem;
    margin: 2rem 0;
}

.options {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.options button {
    margin: 1rem;
    border: none;
    border-radius: 15px;
    padding: 0 0.5rem;
    font-size: 1.1rem;
    font-weight: 600;

    width: 16em;
    height: 5em;

    color: #4e4e4e;
    background: rgba(255, 217, 0, 0.924);
    box-shadow: 2px 2px 6px rgba(70, 70, 70, 0.3);
}

.parent-profile {
    position: relative;
    top: 0;
    left: 0;

  }
  .profile-background {
    position: relative;
    top: 0;
    left: 0;

    width: 13em;
    height: 13em;
  }
  .profile-avatar {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 13em;
    height: 13em;
  }

.profile {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}
.profile p {
    margin: 2rem 1rem 0 1rem;
    font-size: 1.2rem;

    color: #ffff;
}

.profile span {
    font-size: 0.9rem;
    color: #ffff;
}

.exit a {
    text-decoration: none;

    margin: 1rem;
    height: 3rem;
    border: 3px solid white;
    border-radius: 15px;
    padding: 0.5rem 3.2rem;
    font-size: 1rem;
    font-weight: 600;

    color: whitesmoke;
    background-color: rgba(255, 255, 255, 0);
}

.exit a:hover {
    background:rgba(255, 0, 0, 0.657);
}

button > a {
    text-decoration: none;
    color: #4e4e4e;
}