* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #4e4e4e;
    font-display: fallback;
}

.container {
    background: rgb(167, 89, 240);

    display: flex;
    flex-direction: column;
}

.top-content {
    background-color: #ffff;
    height: 8vh;

}

.top-content nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

nav > p {
    font-weight: 400;
}

nav > img {
  width: 80px;
  background-color: black;
  margin-left: 1rem;

}

.bottom-content {
    display: grid;
    height: 92vh;

    grid-template-columns: 2fr 1fr;

}

.first-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #ebebeb;
    padding: 3rem;

}

.second-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background-image: linear-gradient(to top, rgba(255, 145, 0, 0.8), rgba(255, 217, 0, 0.924));
    padding: 3rem;


}

.options {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.options button {
    margin: 1rem;
    height: 3rem;
    border: none;
    border-radius: 15px;
    padding: 0 0.5rem;
    font-size: 1rem;
    font-weight: 600;

    color: whitesmoke;
    background: #d6b41b;
}

.profile-image {
    width: 150px;
    height: 150px;

    border-radius: 15px
}

.profile {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}
.profile p {
    margin: 2rem 1rem 0 1rem;
    font-size: 1.2rem;

    color: #ffff;
}

.profile span {
    font-size: 0.9rem;
    color: #ffff;
}

.exit button {
    margin: 1rem;
    height: 3rem;
    border: 3px solid white;
    border-radius: 15px;
    padding: 0 3rem;
    font-size: 1rem;
    font-weight: 600;

    color: whitesmoke;
    background-color: rgba(255, 255, 255, 0);
}

.exit button:hover {
    background:rgb(200, 50, 50);
}

button > a {
    text-decoration: none;
    color: #ffff;
}