thead { 
    font-size: clamp(1rem, 1.5rem, 2rem);
    font-weight: 600;
    color: #2c2c2cc5;

    text-align:left;

}

th:first-child {
    padding-left: 1rem;
}

.th-center{
    text-align: center;
}

table {
    border-collapse: separate;
    border-spacing: 0 1rem;

}
    

td {
   padding:  1rem;
}

td > a {
    text-decoration: none;
}

td a > i {
    padding: 1rem;
}

td:first-child {

    border-radius: 0.5rem 0 0 0.5rem;
}

td:last-child {
    border-radius: 0 0.5rem 0.5rem 0;
}

.item{ 
    background-color: #ebebeb;
    height: 5rem;
    

    font-size: clamp(1rem, 1.5rem, 2rem) ;
}

.button-options{
    padding: 1rem 0;
}

.edit-button, .delete-button {

    
    width: 50px;
    height: 50px;
    border: none;
    padding: 1rem;
    margin-right: 1rem; 
    
    cursor: pointer;
    
    text-decoration: none;
        
    
    border-radius: 0.5rem;
    color: white;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: background-color 0.5s, border 0.5s, color 0.5s;
}

.edit-button {
    background: #3cdc8c;
}

.delete-button {
    background: #dc3c3c00;
    border: 0.25rem solid #dc3c3c;
    color: #2c2c2c;  
}

.edit-button:hover {
    background: #3abb7a;
}

.delete-button:hover {
    background: #cf3636;
    border: none;
    color: #ffff; 
}