.container {
  width: 70rem;
  margin: 6.4rem auto;
  background: white;
  border: 1px solid rgba(255, 217, 0, 0.25);

  border-radius: 2rem;
  overflow: hidden;
  padding: 8rem;
}

fieldset {
  border: none;
}

fieldset + fieldset {
  margin-top: 8rem;
}

fieldset legend {
  width: 100%;
  font-size: 3.2rem;
  line-height: 1.5;

  color: #d6b41b;
  font-weight: 700;

  border-bottom: 1px solid #d3e2e5;
  margin-bottom: 4rem;
  padding-bottom: 2.4rem;
}

.input-block + .input-block {
  margin-top: 2.4rem;
}

.input-block label {
    color: #4e4e4e;
    margin-bottom: .8rem;
    line-height: 1.5;

}

.input-block label span{
    font-size: 1.4rem;
    color: #8fa7b3;
    margin-left: 2.4rem;
    line-height: 1.5;

}

.input-block input, .input-block textarea {
    width: 100%;

    background: #fdfdf7;
    border: 1px solid #d3e2e5;
    border-radius: 1rem;

    color: #5c8599;
}

.input-block input {
    height: 4.7rem;
    padding: 0 1.6rem;

}

.row:first-child {
  display: flex;
  flex-direction: column;

  margin: 0 2rem 0 0;
}

.row:last-child {
  display: flex;
  flex-direction: column;

  margin: 0 0 0 2rem;
}

.input-block input:valid,
.input-block textarea:valid  {
  border: 1px solid #A1E9C5;
}

.input-block textarea {
    height: clamp(12rem, 16rem, 24rem);
    resize: vertical;
    padding: 1.6rem;
    line-height: 2.8rem;
}



.input-block.images button {
  height: 6.4rem;
  width: 100%;
  margin-top: 2.4rem;
  border: 1px dashed #96D2F0;
  border-radius: 2rem;
  background: #F5F8FA;
  padding: 0 1.6rem;
  
  cursor: pointer;
}

.alert-message {
  color: red;
  text-align: center;
  padding: 1.3rem;
  margin-top: 5rem;
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.137);
  border-radius: 1rem;

}

.success-message {
  color: #46d88f;
  text-align: center;
  padding: 1.3rem;
  margin-top: 5rem;
  border: 1px solid #46d88f;
  background-color: #a1e9c549;
  border-radius: 1rem;
}

.alert-message-top {
  color: red;
  text-align: center;
  padding: 1.3rem;
  margin: 0 0 2.5rem 0;
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.137);
  border-radius: 1rem;

}

.success-message-top {
  color: #46d88f;
  text-align: center;
  padding: 1.3rem;
  margin: 0 0 2.5rem 0;
  border: 1px solid #46d88f;
  background-color: #a1e9c549;
  border-radius: 1rem;
}

.new-upload {
  position: relative;
}

.new-upload span {
  position: absolute;
  right: 12px;
  bottom: 14px;
  padding: .6rem;

  display: flex;

  cursor: pointer;

  background: #FFFFFF;
  border: 1px solid #D3E2E5;
  box-sizing: border-box;
  border-radius: 10px;
} 

.new-upload + .new-upload {
  margin-top: 2.4rem;
}

.input-row {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.form-information {
  margin-bottom: 5rem;
  text-align: justify;
}

.user-options {
  display: flex;
}

.customer-info h4:first-child {
  padding: 1rem 0;

}

.customer-info h4 {
  padding: 1rem 0;
}

.customer-info p { 
  font-weight: 800;
  text-align: left;
  margin: 0.5rem;
}

.customer-info span {
  font-weight: 400;
  color: #4e4e4e;
}


