<!DOCTYPE html>

<html lang="pt_BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ordem de Serviço | ElevaEmpilhadeiras</title>


  <link rel="icon" href="/images/logo-eleva.png" />

  <link rel="stylesheet" href="/style/main.css" />
  <link rel="stylesheet" href="/style/animations.css" />
  <link rel="stylesheet" href="/style/sidebar.css" />
  <link rel="stylesheet" href="/style/forms.css" />
  <link rel="stylesheet" href="/style/primary-button.css" />
  <link rel="stylesheet" href="/style/page-forms.css" />
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style/home.css">
</head>

<body>
  <div id="page-creates">
    <aside class="animate-down sidebar">
      <img class="image-aside" src="/images/logo-eleva.png" alt="logo eleva" />

      <footer>
        <button>
          <a href="/"><img src="../images/arrow-back.svg" alt="Voltar" /></a>
        </button>
      </footer>
    </aside>

    <main class="animate-appear with-sidebar">
      <form action="/auth/customerVerify" method="POST">  <!-- Criando a rota de envio para o banco de dados -->
        <fieldset>
          <legend>Verificação de Requisitante</legend>
          <p class="form-information">Aqui você pode identificar se o cliente já está cadastrado no sistema, e utilizar os dados já cadastrados. Para a verificação, você deve inserir os dados solicitados abaixo:</p>

          <div class="input-block">
            <label for="identify">CPF/CNPJ do Requisitante<span>Somente números</span></label>
            <input id="identify" name="identify" maxlength="15" required />
          </div>

{{!--           
          <div class="input-block">
            <label for="costumer-name">Requisitante</label>
            <input id="costumer-name" name="costumer-name" maxlength="100" required />
          </div>

          <div class="input-block">
            <label for="email">E-mail para login</label>
            <input type="email" id="email" name="email" maxlength="50" required />
          </div>

          <div class="input-block">
            <label for="role">Função</label>
            <input id="role" name="role" maxlength="30" required />
          </div>

          <div class="input-block">
            <label for="password">Senha</label>
            <input type="password" id="password" name="password" maxlength="" required />
          </div>

          <div class="input-block">
            <label for="passwordConfirm">Confirmação de Senha</label>
            <input type="password" id="passwordConfirm" name="passwordConfirm" maxlength="" required />
          </div> --}}

          {{#if alertmessage}}
            <h4 class="alert-message">{{alertmessage}}</h4>
          {{else if successmessage}}
            <h4 class="success-message">{{successmessage}}</h4>
          {{/if}}

          <button type="submit" class="primary-button">Consultar</button>

        </fieldset>
  </form>
  </main>
  </div>

  <script src="../scripts/page-creates.js"></script>

</body>

</html>