<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <title>Home | ElevaEmpilhadeiras</title>
     <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style/home.css">

   
</head>
<body>
    <div class="container">
        <div class= "top-content">
            <nav class= "top-nav">
                <img src="/images/logo-eleva.png" alt="logo-eleva">
                <p>Dom, 08 Agosto</p>
            </nav>
        </div>
        <div class="bottom-content">
            <div class="first-column">
                <h4>Nesta tela você poderá administrar as ordens de serviço</h4>
                <div class="options">
                    <button>Criar OS</button>
                    <button>Atualizar OS</button>
                    <button>Estoque/Peças</button>
                    <button>Lorem Ipsum</button>
                    <button><a href="/create-user">Funcionários</a></button>
                    <button>Relatórios</button>
                </div>
            </div>
            <div class="second-column">
                <div class="profile">
                    <img class="profile-image" src="/images/eleva-right.png" alt="user">
                    <p>Olá, <b>Bruna!</b></p>
                    <span>Operador de empilhadeiras</span>
                </div>
                <div class= "exit">
                    <button>Sair</button>
                </div>

            </div>
        </div>
    </div>
</body>
</html>