<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Home | ElevaEmpilhadeiras</title>
     <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,400;1,600&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/animations.css" />
    <link rel="stylesheet" href="/css/sidebar.css" />
    <link rel="stylesheet" href="/css/views.css" />
    <link rel="stylesheet" href="/css/primary-button.css" />
    <link rel="stylesheet" href="/css/page-forms.css" />
    <link rel="stylesheet" href="/css/items.css" />
    <link rel="stylesheet" href="/css/secondary-button.css" />
    <link rel="stylesheet" href="/css/home.css">

    <script src="https://kit.fontawesome.com/a1c18692b7.js" crossorigin="anonymous"></script>
</head>
<body>
    <aside class="animate-down sidebar">
      <img class="image-aside" src="/images/logo-eleva.png" alt="logo eleva" />

      <footer>
          <a href="/"><button><img src="/images/arrow-back.svg" alt="Voltar" /></button></a>
      </footer>
    </aside>
    
        <iframe style="padding-top: 10vh;" width="100%" height="100%" src="https://app.powerbi.com/view?r=eyJrIjoiM2E3NGJkNzktMWZmNi00MTFjLWE3OGMtZTU0ZGE1ZGYzMDkyIiwidCI6IjljMWZjNDA2LWFhODAtNDRkMC1iNjIyLTYzOWRlMWI2MDQwNSJ9&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe>

        {{!-- 
        <div class="bottom-content">
            <div class="first-column">
                <div class="graph-container">
                    <div class="card">
                        <div class="box">
                            <div class="percent">
                                <svg>
                                    <circle cx="70" cy="70" r="70"></circle>
                                    <circle cx="70" cy="70" r="70"></circle>
                                </svg>
                                <div class="number">
                                    <h2>90</h2>
                                </div>
                            </div>
                            <h2 class="cardtext">ABERTO</h2>
                        </div>
                    </div>

                    <div class="card">
                        <div class="box">
                            <div class="percent">
                                <svg>
                                    <circle cx="70" cy="70" r="70"></circle>
                                    <circle cx="70" cy="70" r="70"></circle>
                                </svg>
                                <div class="number">
                                    <h2>45</h2>
                                </div>
                            </div>
                            <h2 class="cardtext">ANDAMENTO</h2>
                        </div>
                    </div>

                    <div class="card">
                        <div class="box">
                            <div class="percent">
                                <svg>
                                    <circle cx="70" cy="70" r="70"></circle>
                                    <circle cx="70" cy="70" r="70"></circle>
                                </svg>
                                <div class="number">
                                    <h2>85</h2>
                                </div>
                            </div>
                            <h2 class="cardtext">FECHADO</h2>
                        </div>
                    </div>
                </div>
                <td class="button-options"><button onClick="equipmentEdit({{id}})" class="edit-button" type="submit"><i class="fas fa-edit"></button></td>
            </div>
            <
            <div class="second-column">
                <div class="profile">
                    <div class="parent-profile">
                        <img class="profile-background" src="/images/avatar.svg" alt="user-background">
                        <img class="profile-avatar" src="/images/workers.svg" alt="user">
                    </div>

                    <p>Olá, <b>{{user.name}}!</b></p>
                    <span>{{user.role}}</span>
                </div>
                <div class= "exit">
                    <a href="/auth/logout">Sair</a>
                </div>

            </div>
        </div> --}}
    </div>
</body>  
    <script src="/scripts/logoBarRemove.js"></script>
</html>