thead { 
    font-size: clamp(1rem, 1.5rem, 2rem);
    font-weight: 600;
    color: #2c2c2cc5;
    text-align:left;
}

th:first-child {
    padding-left: 1rem;
}

.th-center{
    text-align: center;
}

table {
    border-collapse: separate;
    border-spacing: 0 0.3rem;

    width: 100%;
}



.item:nth-child(odd) {
    background-color: #f5f5f5b7;
}

.item:nth-child(even) {
    background-color: #f5f5f5;
}

td {
   padding:  1rem;
}

td > a {
    text-decoration: none;
}

td a > i {
    padding: 1rem;
}

td:first-child {
    border-radius: 0.5rem 0 0 0.5rem;
}

td:last-child {
    border-radius: 0 0.5rem 0.5rem 0;
}

.item{ 
    height: 5rem;
    font-size: clamp(1rem, 1.5rem, 2rem);
}

.button-options{
    padding: 1rem 0;
}

.edit-button, .delete-button, .separate-button {

    
    width: 50px;
    height: 50px;
    border: none;
    padding: 1rem;
    margin-right: 1rem; 
    
    cursor: pointer;
    
    text-decoration: none;
        
    
    border-radius: 0.5rem;
    color: white;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: background-color 0.5s, border 0.5s, color 0.5s;
}



.edit-button {
    background: #3cdc8c;
}

.edit-button i{
    padding: 0 0 0.2rem 0.3rem;
}

.delete-button {
    background: #fff;
    border: 0.1rem solid #d3e2e5;
    color: #ff6666;  
}

.edit-button:hover {
    background: #3abb7a;
}

.delete-button:hover {
    background: #fafafad8;
}

.item-new{
    width: 100%;
    background-color: #41eb960a;
    border: 1px dashed #3cdc8c;

    margin-top: 2rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
}

.item-new:hover{
    background-color: #3cdc8c18;
}

.item-new button{
    width: 100%;
    height: 5rem;
    text-decoration: none;
    background: none;
    border: none;
    border-radius: 1rem;
    
}

.separate-button{
    background: #fff;
    border: 0.1rem solid #d3e2e5;
}

.separate-button:hover{
    background: #fafafad8;
}

.item-new span{
    color: #3cdc8c;
    font-size: 1.65rem;
    margin-left: 1rem;
    font-weight: 600;

}

.resolution-button{
    display: none;
}


@media screen and (max-width: 960px){
    table {
        border-collapse: separate;
        border-spacing: 0 0.1rem; 
        width: 100%;     
    }

    table td{
        font-size: 1.1rem;
        padding: 0.3rem;
        border: 1px solid white;
    }

    .button-options{
        width: 2rem;
        height: 2rem;

    }
}

@media screen and (max-width: 732px){
    table {
        border-collapse: separate;
        border-spacing: 0 0.1rem; 
        width: 100%;     
    }

    table td{
        font-size: 1.1rem;
        padding: 0.3rem;
        border: 1px solid white;
    }

    .button-options{
        width: 2rem;
        height: 2rem;

    }
}

@media screen and (max-width: 570px){
    table{
        display: none;
    }
    .resolution-button{
        display: block;
    }

}
  


