* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #4e4e4e;
    font-display: fallback;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #ebebeb;
}

.content {
    display: flex;
    border-radius: 15px;
    background-color: #ffff;
    position: relative;

    width: 55%;
    height:60%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.first-column {
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.second-column {
  flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

form {
    display: flex;
    flex-direction: column;
 
    align-items: center;
}


.second-column img {
    position: absolute;
    height: 100%;
    box-align: right;
    border-radius: 0 15px 15px 0;
}


h2 {
 font-weight: 700;
 font-size: 2rem;
 color:#d6b41b;
}

.text-mid {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  padding: 2rem 10%;
}


.input-block + .input-block {
    margin-top: 0.8rem;
  }
  
  .input-block label {
    color: #70828b;
    margin-bottom: 0.8rem;
    line-height: 1.5;
  }
  
  .input-block input {
    width: 19rem;
  
    background: #fdfdf1;
    border: 1px solid #d3e2e5;
    border-radius: 1rem;
  
    height: 2.8rem;
    padding: 0 10%;
  
    color: #5c8599;
  }
  
  .input-block input:valid {
    border: 1px solid #a1e9c5;
  }
  
  .acessar {
    height: 2.5rem;
    width: 15rem;
    margin-top: 2.4rem;
    border: none;
    border-radius: 15px;
    padding: 0 0.5rem;
    font-size: 1rem;
    font-weight: 600;

    color: whitesmoke;
    background: #d6b41b;
    cursor: pointer;

  }

  .acessar:hover {
    background: #f1c607;
  }

  .acessar a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }

  .copyright {
    margin-top: 1rem;
    font-weight: 600;
  }

  .alert-message {
    color: red;
    text-align: center;
    padding: 1rem;
    margin-top: 5rem;
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.137);
    border-radius: 1rem;
    
  }

  @media screen and (max-width: 1500px) {
    .content {
      width: 65%;
    }
    
  }

  @media screen and (max-width: 1250px) {
    .content {
      width: 80%;
    }
    
  }

  @media screen and (max-width: 960px) {
    .content {
      width: 95%;
    }
    
  }

  @media screen and (max-width: 760px) {
    .container .content {
      flex-direction: column-reverse;
    }
      
  }