* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #4e4e4e;
    font-display: fallback;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #ffff;
    width: 100vw;
    height: 100vh;
}

.first-column {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 60%;
  height: 100vh
}

.second-column {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.img1 {
  width: clamp(35vw, 40vw, 45vw);
  min-width: 35rem;
  max-width: 45rem;
  height: 100vh;

}

.img2{
  display: none;
}

h2 {
 font-weight: 700;
 font-size: 2.6rem;
 color:#d6b41b;
}

.text-mid {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-size: 1.2rem;
  padding: 2rem 15% 0.3rem 15%;
}

.back-to-site{
  font-size: 0.8rem;
  color: #cecece;

  padding-bottom: 5rem;
}

.back-to-site a{
  color: #d6b41b;
  font-size: 0.78rem;
  margin-left: 0.3rem;
}


.input-block + .input-block {
    margin-top: 1rem;
  }
  
  .input-block{
    width: 100%;
    padding: 0 10%;
  }

  .input-block input {
    width: 100%;
  
    background: none;
    border: none;
    background: #fafafa41;
    border:  1px solid #cecece;
    border-radius: 0.6rem;
    text-decoration: none;
  
    height: 2.9rem;
    padding: 1.3rem 1rem 1.3rem 3rem;
    
    font-size: 1rem;
    color: #868686;
  }


  

  .icon-input{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
  }

  .icon-input i{
    position: absolute;
    padding: 1.1rem;
    color: #d6b41b;
  }
  .acessar {
    height: 2.9rem;
    width: 100%;
    margin-top: 4rem;
    border: none;
    border-radius: 0.6rem;
    padding: 0 0.5rem;
    font-size: 1rem;
    font-weight: 600;

    color: whitesmoke;
    background: #d6b41b;
    cursor: pointer;

    transition: 0.5s;

  }

  .acessar:hover {
    background: #f1c607;
  }

  .acessar a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }

  .copyright {
    margin-top: 6rem;
    font-weight: 600;
  }

  .alert-message {
    color: red;
    text-align: center;
    padding: 1rem;
    margin-top: 5rem;
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.137);
    border-radius: 1rem;
    
  }

  @media screen and (max-width: 1010px) {
    .img1 {
      display: none;
    }

    .first-column {
      width: 100vw;
      height: 80vh;
    }
  }

  @media screen and (max-width: 960px) {

  }

  @media screen and (max-width: 760px) {
    .first-column {
      width: 100vw;
      height: 80vh;
    }
  }