
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: whitesmoke;
  background-color: #ebebeb;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

:root{
    font-size: 62.5%;
}

body,
input,
button,
textarea {
  font-weight: 400;
    line-height: 1;
    font-size: 1.8rem;
    font-family: 'Nunito', sans-serif;
    font-display: fallback;
}
